<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Foods">
  <ion-header-bar class="bar-light bar-subheader">
    <div class="bar bar-header item-input-inset search-bar">
      <label class="item-input-wrapper">
          <i class="icon ion-android-search placeholder-icon"></i>
          <input type="search"
            placeholder="Filter"
            ng-model="food.description"
            ng-focus="searchFocused = true"
            ng-blur="searchFocused = false">
      </label>
      <button class="button button-clear" ng-if="food.description.length" ng-click="clearSearch()">
          <i class="icon ion-android-close"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="food in foods | filter:food" item="food" type="item-text-wrap" href="#/tab/fooddetail/{{food._id}}">
        {{food.description}}
        <ion-delete-button class="ion-ios7-star-outline" ng-click="onItemDelete(food._id)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
